*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
}

:root {
  --main-color: #f26419;
  --main-dark: #090909;
  --color-white: #fff;
  --color-text: #e6e6e9;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--main-dark);
  height: 100%;
}

body a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  object-fit: cover;
  width: 100%;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 12rem 0;
}

.subtitle {
  display: inline-block;
  margin-bottom: 1.6rem;
  color: var(--color-text);
  font-size: clamp(1.2rem, 3vw, 1.6rem);
  font-weight: 500;
  padding: 1rem 3.2rem;
  border: var(--main-color) solid 2px;
  border-bottom-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.section-heading {
  font-size: clamp(2.4rem, 3vw, 4rem);
  line-height: 1.1;
  font-weight: 900;
}

.text {
  font-size: clamp(1.2rem, 3vw, 1.6rem);
  color: var(--color-text);
  font-weight: 400;
  text-align: justify;
}

.button-wrapper {
  position: relative;
  width: fit-content;
  height: fit-content;
  border-bottom-left-radius: 2rem;
  border-top-right-radius: 2rem;
  padding: 0.2rem;
  overflow: hidden;
  z-index: 1;
}

.button-wrapper::before {
  position: absolute;
  content: "";
  top: -205%;
  left: 45%;
  width: 4.5rem;
  height: 30rem;
  background-color: var(--main-color);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.2) 2%,
    var(--main-color) 80%,
    transparent 100%
  );
  border-bottom-left-radius: 2rem;
  border-top-right-radius: 2rem;
  animation: border-spin 8s linear infinite;
  animation-play-state: running;
  opacity: 1;
  transition: opacity 0.3s ease;
  z-index: -1;
}

.button-cta {
  display: inline-block;
  padding: 1.6rem 4.8rem;
  align-self: flex-start;
  font-size: clamp(1.2rem, 3vw, 1.6rem);
  font-family: inherit;
  border: none;
  background: #151515;
  color: var(--color-text);
  font-weight: 500;
  letter-spacing: 0.3px;
  border-bottom-left-radius: 2rem;
  border-top-right-radius: 2rem;
  z-index: 1;
  transition: background 0.2s ease, color 0.2s ease;
  cursor: pointer;
}

.button-cta:hover {
  color: var(--main-dark);
  background: #f26419;
}

.button-wrapper:hover::before {
  opacity: 0;
  animation-play-state: paused;
}

.header-preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  gap: 0.8rem;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-dark);
  z-index: 9999;
  transition: opacity 0.3s ease;
}

.header-preloader.loaded {
  opacity: 0;
  pointer-events: none;
}

.header-preloader span {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background-color: #e6e6e9;
  animation: bounce 1s ease-in-out infinite;
}

.header-preloader span:nth-child(2) {
  animation-delay: 0.1s;
}
.header-preloader span:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2rem);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
  }
}

/* NAV BTN  */
.nav-btn {
  position: fixed;
  display: none;
  gap: 0.4rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 2rem;
  right: 2rem;
  width: 4rem;
  height: 4rem;
  border-radius: 0.8rem;
  border: 0.3px solid #e6e6e917;
  background-color: #151515;
  padding: 0.8rem;
  z-index: 999;
}

.nav-btn__line {
  width: 100%;
  height: 0.3rem;
  background-color: var(--color-text);
  border-radius: 1rem;
}

/* NAV  */
.nav {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 9rem;
  border-bottom: 2px solid var(--color-text);
}

.nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  font-weight: bold;
  font-size: 2rem;
}
.nav__logo img {
  width: 2rem;
  object-fit: cover;
}

.nav__links {
  display: flex;
  gap: 4.8rem;
  align-items: center;
  font-weight: 500;
  font-size: 1.4rem;
  height: 100%;
}

.nav__link-item {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  z-index: 1;
  padding: 0 0.8rem;
}

.nav__link-item::before {
  position: absolute;
  left: 0;
  bottom: -2px;
  content: "";
  width: 100%;
  height: 0.2rem;
  transform-origin: left;
  transform: scaleX(0);
  background-color: var(--main-color);
  z-index: 0;
}

.nav__link-item:hover::before {
  transform: scaleX(1);
  transition: transform 0.3s ease;
}

.nav__link-item a {
  transition: color 0.3s ease;
}

.nav__link-item:hover a {
  color: var(--main-color);
}

/* HEADER  */

.header-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 12rem;
  height: auto;
  max-width: 1400px;
  margin: 0 auto;
  padding: 4rem 0 12rem;
}

.background-wave {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../public/wave.svg");
  z-index: -2;
}

.header-background__wave {
  position: absolute;
  left: -12%;
  bottom: -25%;
}

.background-light {
  position: absolute;
  opacity: 0.8;
  background: radial-gradient(#ef68202a, #09090900, #09090900);
  z-index: -10;
}

.header-background {
  bottom: 10%;
  left: -120%;
  width: 170%;
  height: 170%;
}

.header-left {
  display: flex;
  padding-top: 12rem;
  flex-direction: column;
}

.header-left__subtitles {
  display: flex;
  justify-content: space-between;
  gap: 4.8rem;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--color-text);
}

.header-left__subtitles span {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  position: relative;
}

.header-left__subtitles span .circle {
  width: 1.2rem;
  height: 1.2rem;
  background-color: var(--main-color);
}

.header-left__heading {
  font-size: clamp(3.2rem, 4vw, 5.6rem);
  line-height: 1.1;
  font-weight: 900;
  margin: 4.8rem 0;
}
.header-left__heading span {
  color: var(--main-color);
}

.header-left__text {
  font-size: clamp(1.2rem, 3vw, 1.6rem);
  text-align: justify;
  font-weight: 400;
  color: var(--color-text);
  max-width: 70%;
}

.header-left__cta {
  margin-top: 6.4rem;
}

.header-right {
  display: flex;
  width: 75%;
  justify-content: center;
  align-items: center;
  height: auto;
}

.header-right img {
  height: clamp(30rem, 50vw, 77rem);
  object-fit: cover;
  border-bottom-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

/* LOGOS  */

.logos {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin: 0 auto;
  max-width: 1400px;
}

.logos__list {
  display: flex;
  flex-shrink: 0;
  flex-basis: auto;
  min-width: min-content;
  align-items: center;
}

.logos::after,
.logos::before {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 10%;
  z-index: 1;
}

.logos::after {
  right: 0;
  background: linear-gradient(90deg, transparent, var(--main-dark));
}

.logos::before {
  left: 0;
  background: linear-gradient(90deg, var(--main-dark), transparent);
}

.logos__image {
  height: 3.2rem;
  object-fit: contain;
  padding: 0 7.2rem;
}

/* ABOUT  */
.about {
  display: flex;
  gap: 32rem;
}

.about-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.about__subtitle {
  align-self: flex-start;
}

.about__heading {
  margin-bottom: 8rem;
}

.about-background {
  bottom: -170%;
  right: -45%;
  width: 150rem;
  height: 150rem;
}

/* PRODUCTS  */

.products-background {
  bottom: -430%;
  left: -75%;
  width: 200rem;
  height: 200rem;
}

.products {
  display: flex;
  flex-direction: column;
}

.products__subtitle {
  align-self: center;
}
.products__heading {
  margin-bottom: 1.6rem;
}

.products__text {
  margin-bottom: 8rem;
}

.products__text,
.products__heading,
.products__subtitle {
  text-align: center;
}

.products-content {
  display: flex;
  gap: 32rem;
  justify-content: space-between;
}

.products-content--bottom {
  display: flex;
  gap: 12rem;
  margin-left: 12rem;
  margin-top: 16rem;
}

.products-content--bottom__right {
  display: flex;
  align-items: center;
  width: 30%;
}

.product-item--secondary {
  order: 1;
}

.product-item__bottom {
  margin-top: 1.6rem;
  justify-content: flex-end;
  display: flex;
  gap: 6.4rem;
  align-items: center;
}
.product-item__number {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: clamp(2.4rem, 3vw, 4rem);
  font-weight: 900;
  line-height: 1;
}

.product-item__image {
  height: 50rem;
}

.product-item__image img {
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.product-item__number .square {
  width: 1rem;
  height: 1rem;
  background-color: var(--main-color);
}

.product-item__title {
  font-size: clamp(1.2rem, 3vw, 1.6rem);
  font-weight: 400;
}

/* PROCESS  */

.process__subtitle {
  display: inline-block;
}
.process__heading {
  margin-bottom: 1.6rem;
}
.process__text {
  margin-bottom: 8rem;
}

.process-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.2rem;
}

.process-item {
  position: relative;
  width: 100%;
  height: 50rem;
  padding: clamp(4rem, 3vw, 8rem) clamp(2rem, 3vw, 4rem);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  border-bottom-left-radius: 2rem;
  border-top-right-radius: 2rem;
  background: url("../src/assets/images/proces-bg.png"), var(--main-dark);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.process-item-wrapper {
  position: relative;
  padding: 0.2rem;
  height: fit-content;
  background: var(--main-dark);
  border-bottom-left-radius: 2rem;
  border-top-right-radius: 2rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  z-index: 1;
}
.process-item-wrapper::before {
  content: "";
  position: absolute;
  bottom: -50%;
  width: 100%;
  height: 200%;
  border-bottom-left-radius: 2rem;
  border-top-right-radius: 2rem;
  background: conic-gradient(
    rgba(0, 0, 0, 0.2) 0deg,
    var(--main-color) 0deg,
    transparent 40deg
  );
  animation: border-spin 12s linear infinite;
  z-index: -1;
}

.process-item-wrapper:hover {
  box-shadow: 0px 0px 10px 2px var(--main-color);
  background-color: var(--main-color);
}

@keyframes border-spin {
  100% {
    transform: rotate(360deg);
  }
}

.process-item__number {
  font-size: clamp(8rem, 7vw, 12rem);
  font-weight: 900;
  line-height: 1;
  align-self: center;
  color: transparent;
  -webkit-text-stroke: 2px var(--main-color);
  margin-bottom: 4.8rem;
  pointer-events: none;
}

.process-item__title {
  margin-bottom: 1.6rem;

  font-size: clamp(1.6rem, 3vw, 2rem);
}

.process-item__text {
  font-size: clamp(1.2rem, 3vw, 1.6rem);
  color: var(--color-text);
  font-weight: 400;
}

/* TESTIMONIALS */

.testimonials {
  padding: 12rem 0;
}

.testimonials__subtitle {
  display: inline-block;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}
.testimonials__heading {
  text-align: center;
  margin-bottom: 1.6rem;
}
.testimonials__text {
  text-align: center;
  margin-bottom: 8rem;
}

.testimonials-content {
  display: flex;
  justify-content: space-between;
}

.testimonials-top,
.testimonials-bottom {
  display: flex;

  overflow: hidden;
}
.testimonials-bottom {
  margin-top: 3.2rem;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40rem;
  padding: 3rem;
  margin: 0 1.6rem;
  border-bottom-left-radius: 2rem;
  border-top-right-radius: 2rem;
  color: var(--main-dark);
  background-color: var(--color-text);
}

.testimonial-card__text {
  color: var(--main-dark);
  text-align: left;
  font-size: clamp(1.2rem, 3vw, 1.5rem);
  font-weight: 500;
}

.testimonial-card hr {
  margin: 1.6rem 0;
  border-radius: 1rem;

  color: var(--main-dark);
  width: 100%;
}

.testimonial-card__author {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}
.testimonial-card__author .square {
  width: 1rem;
  height: 1rem;
  background-color: var(--main-color);
}

.testimonial-card-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: flex;
  gap: 1.6rem;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
}

/* CONTACT  */
.contact {
  position: relative;
}

.contact__heading {
  margin-bottom: 1.6rem;
}

.contact__text {
  margin-bottom: 8rem;
}

.contact-content {
  display: flex;
  gap: 12rem;
}

.contact-right {
  width: 50%;
}

.contact-left {
  height: 65rem;
}

.contact-left__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.contact-right__form {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  padding: clamp(0rem, 3vw - 0.1rem, 8rem);
}

.contact-right__form-group {
  position: relative;
  display: flex;
  flex-direction: column;
}

.contact-right__form-input,
.contact-right__form-textarea {
  background: transparent;
  border: none;
  font-size: 1.6rem;
  font-family: inherit;
  padding: 1rem;
  color: var(--color-text);
  border-bottom: 2px solid var(--color-text);
  transition: all 0.3s ease;
}
.contact-right__form-textarea {
  min-height: 15rem;
  resize: none;
}

.contact-right__from-label {
  position: absolute;
  bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-text);
  transition: all 0.3s ease;
}

.contact-right__from-label.contact-right__from-label--textarea {
  top: 1.2rem;
}

.contact-right__form-button {
  align-self: flex-end;
  padding: 1.6rem 6.4rem;
  font-size: 1.6rem;
  color: var(--color-text);
  border: 2px solid var(--main-color);
  font-weight: 500;
  letter-spacing: 0.3px;
  font-family: inherit;
  background: none;
  border-bottom-left-radius: 2rem;
  border-top-right-radius: 2rem;
  transition: background 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.contact-right__form-button:hover {
  background: var(--main-color);
  color: var(--main-dark);
}

.contact-right__form-input:focus,
.contact-right__form-textarea:focus {
  outline: none;
  border-bottom: 2px solid var(--main-color);
}
.contact-right__form-input:focus ~ .contact-right__from-label,
.contact-right__form-textarea:focus ~ .contact-right__from-label {
  color: var(--main-color);
  transform: translateY(-2.4rem);
  font-size: 1.2rem;
}

.contact-right__form-input:not(:placeholder-shown) ~ .contact-right__from-label,
.contact-right__form-textarea:not(:placeholder-shown)
  ~ .contact-right__from-label {
  transform: translateY(-2.4rem);
  font-size: 1.2rem;
}

.contact__wave {
  position: absolute;
  bottom: -8%;
  left: 30%;
  width: 100vw;
  height: 40vh;
}

/* FOOTER  */
.footer {
  background-color: #151515;
  position: relative;
  overflow: hidden;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-col__heading {
  margin-bottom: 1.6rem;
  font-size: 2rem;
  color: var(--main-color);
  font-weight: 500;
}

.footer-col:nth-child(1) {
  width: 20%;
}

.footer-col__text {
  font-size: 1.4rem;
  color: var(--color-text);
  font-weight: 400;
  text-align: justify;
}

.footer-col__copyrights {
  margin-top: 3.2rem;
}

.footer-col__links {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.footer-col__link-item a {
  transition: color 0.3s ease;
}

.footer-col__link-item a,
.footer-col__link-item {
  font-size: 1.4rem;
}

.footer-col__link-item a:hover {
  color: var(--main-color);
}

.footer-background {
  bottom: -120%;
  right: -25%;
  width: 100rem;
  height: 100rem;
  z-index: 1;
}

/* MEDIA QUERIES  */

@media screen and (max-width: 1400px) {
  .container {
    padding: 12rem 2rem;
  }

  .header-container {
    padding: 4rem 2rem 12rem;
  }

  .nav {
    margin: 0 2rem;
  }

  .header,
  .about,
  .products-content,
  .products-content--bottom,
  .contact-content {
    gap: 7.2rem;
  }

  .contact__wave,
  .header-background__wave {
    display: none;
  }

  .products-content--bottom {
    margin-left: 0;
  }
  .about-left {
    width: 50%;
  }

  .about-right {
    align-items: flex-start;
  }

  .about__text {
    max-width: 75%;
  }
}

@media screen and (max-width: 976px) {
  .header-left {
    padding-top: 6rem;
    justify-content: center;
  }

  .process-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .process-item {
    height: 40rem;
  }

  .product-item__image {
    height: 40rem;
  }

  .about-left img {
    height: 100%;
    border-bottom-left-radius: 2rem;
    border-top-right-radius: 2rem;
  }

  .footer-container {
    flex-wrap: wrap;
    gap: 4.8rem;
  }

  .footer-col,
  .footer-col:nth-child(1) {
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .nav-btn {
    display: flex;
    overflow: hidden;
    transition: all 0.3s ease 0.3s;
  }

  .nav-btn.active {
    transform: rotate(90deg);
  }

  .nav__links {
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(#151515 25%, #090909 90%);
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    z-index: 998;
  }

  .nav__links.active {
    transform: translateX(0);
  }

  .nav-btn__line {
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .nav-btn.active .nav-btn__line:nth-child(1) {
    transform: rotate(45deg) translateY(0.5rem) translateX(0.5rem);
  }
  .nav-btn.active .nav-btn__line:nth-child(2) {
    transform: translateX(100%);
    opacity: 0;
  }
  .nav-btn.active .nav-btn__line:nth-child(3) {
    transform: rotate(-45deg) translateY(-0.5rem) translateX(0.5rem);
  }

  .nav__link-item {
    height: auto;
  }

  .nav__links {
    gap: 1.6rem;
  }

  .nav__link-item a {
    padding: 2rem;
    font-size: 4rem;
    font-weight: 900;
    color: var(--color-text);
  }

  .container {
    padding: 12rem 3.2rem;
  }

  .header-container {
    padding: 4rem 3.2rem 12rem;
  }

  .nav {
    margin: 0 3.2rem;
  }
  .header-container,
  .about,
  .products-content,
  .products-content--bottom,
  .contact-content {
    flex-direction: column;
    gap: 4.8rem;
  }
  .header-left__heading {
    max-width: 75%;
  }

  .section-heading {
    max-width: 50%;
  }

  .header-right {
    width: 100%;
    height: auto;
  }

  .header-right img {
    height: auto;
  }
  .header-left__heading {
    margin: 3.2rem 0;
  }

  .about-left,
  .about-right,
  .contact-right {
    width: 100%;
  }

  .products__heading,
  .testimonials__heading {
    max-width: 100%;
  }

  .products-content--bottom {
    margin-top: 4.8rem;
  }

  .product-item__image {
    height: 100%;
  }

  .products-content--bottom__right {
    width: 75%;
  }

  .product-item--secondary {
    order: 0;
  }
  .header-background {
    top: -30%;
    left: -80%;
    width: 180vw;
    height: 90vh;
  }

  .products-background {
    bottom: -430%;
    left: -89%;
    width: 180vw;
    height: 90vh;
  }
  .about-background {
    left: -80%;
    bottom: -170%;
    width: 180vw;
    height: 90vh;
  }
}

@media screen and (max-width: 576px) {
  .container {
    padding: 8rem 2rem;
  }

  .header-container {
    padding: 4rem 2rem 8rem;
  }

  .nav {
    margin: 0 2rem;
  }
  .process-content {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-col,
  .footer-col:nth-child(1) {
    width: 100%;
  }
  .section-heading {
    max-width: 85%;
  }

  .header-left {
    padding-top: 2rem;
  }
  .header-left__heading {
    max-width: 100%;
  }
  .header-left__subtitles {
    gap: 1.6rem;
  }
  .header-left__text {
    max-width: 100%;
  }

  .logos__image {
    height: 2.4rem;
    object-fit: contain;
    padding: 0 3.2rem;
  }

  .process-item {
    height: 30rem;
  }
  .products__heading,
  .testimonials__heading {
    max-width: 100%;
  }
  .testimonial-card {
    width: 30rem;
  }

  .button-wrapper::before {
    top: -220%;
    width: 3.5rem;
  }
}
